{% extends 'bases/_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Password Reset Done{% endblock title %}
{% block content %}
    <div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 dark:bg-gray-900">
        <a href=""
           class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white">
            <img src="/images/logo.svg" class="mr-4 h-11" alt="FlowBite Logo">
            <span>Flowbite</span>
        </a>
        <!-- Card -->
        <div class="w-full max-w-xl p-6 space-y-8 bg-white rounded-lg shadow sm:p-8 dark:bg-gray-800">
            <h2 class="flex items-center justify-center text-2xl font-bold text-gray-900 dark:text-white">
                👌We've sent you an email
            </h2>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">
                We’ve emailed you instructions for setting your password, if an account exists with the email you
                entered. You should receive them shortly.
                If you don’t receive an email, please make sure you’ve entered the address you registered with, and
                check your spam folder.
            </p>

        </div>
    </div>

{% endblock content %}