{% extends 'bases/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block content %}
    <div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 dark:bg-gray-900">
        <!-- Card -->
        <div class="w-full max-w-xl p-6 space-y-8 bg-white rounded-lg shadow sm:p-8 dark:bg-gray-800">
            <h2 class="flex items-center justify-center text-2xl font-bold text-gray-900 dark:text-white">
                Change your password
            </h2>
             <p class="text-base font-normal text-gray-500 dark:text-gray-400">
                Don't fret! Just type in your email and we will send you a code to reset your password!
            </p>
            <form class="mt-8 space-y-6" method="POST">
                {% csrf_token %}

                {% include 'bases/../../snippets/base_form.html' %}
                <button type="submit"
                        class="w-full px-5 py-3 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 sm:w-auto dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                    Change password
                </button>
            </form>
        </div>
    </div>


{% endblock content %}