{% extends 'bases/app_base.html' %}
{% load static %}
{% block title %}App{% endblock title %}

{% block content %}

	<div class="grid grid-cols-1 md:grid-cols-2 min-h-screen">
		<div class=" bg-primary-700 overflow-y-auto">
			<!-- Sign Up content -->
			<section class="pt-[128px] flex flex-col justify-center min-h-screen p-8">

				<img src="{% static 'static/images/signup.jpg' %}"
				     alt="Sign Up"
				     class="bg-white rounded-lg mb-4 w-64 h-64 object-contain">

				<h1 class="text-transparent bg-clip-text bg-gradient-to-r to-secondary-200 from-sky-100 mb-4 text-5xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
					Sign Up
				</h1>
				<p class="mt-8 mb-8 text-lg font-normal text-gray-200 lg:text-xl dark:text-gray-400">
					Join the DELIVEET revolution!<br>
					Sign up now to experience faster, more flexible package delivery
					right to your doorstep.
					Our network of local couriers is ready to bring you what you need when
					you need it.
					Create your free account today and enjoy:
				</p>
				<ul class="max-w-md space-y-1 text-gray-100 list-disc list-inside">
					<li class="flex items-center">
						<svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
						     aria-hidden="true"
						     xmlns="http://www.w3.org/2000/svg"
						     fill="currentColor"
						     viewBox="0 0 20 20">
							<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"></path>
						</svg>
						On-demand delivery scheduling
					</li>
					<li class="flex items-center">
						<svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
						     aria-hidden="true"
						     xmlns="http://www.w3.org/2000/svg"
						     fill="currentColor"
						     viewBox="0 0 20 20">
							<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"></path>
						</svg>
						Real-time package tracking
					</li>
					<li class="flex items-center">
						<svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
						     aria-hidden="true"
						     xmlns="http://www.w3.org/2000/svg"
						     fill="currentColor"
						     viewBox="0 0 20 20">
							<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"></path>
						</svg>
						Flexible pickup and drop off options
					</li>
					<li class="flex items-center">
						<svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
						     aria-hidden="true"
						     xmlns="http://www.w3.org/2000/svg"
						     fill="currentColor"
						     viewBox="0 0 20 20">
							<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"></path>
						</svg>
						Competitive pricing
					</li>


				</ul>
				<p class="mt-4 mb-8 text-lg font-normal text-gray-200 lg:text-xl dark:text-gray-400">
					Don't miss
					out on the
					future of
					last-mile
					delivery.
					Sign up for
					DELIVEET in
					just 60
					seconds!"
				</p>
				<div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0">
					<a href="{% url 'accounts:signup' %}"
					   class="inline-flex justify-center items-center py-5 px-5 text-base font-medium text-center
					   text-white rounded-lg bg-tertiary-700 focus:ring-4 focus:ring-tertiary-300">
						Sign up
						<svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
						     aria-hidden="true"
						     xmlns="http://www.w3.org/2000/svg"
						     fill="none"
						     viewBox="0 0 14 10">
							<path stroke="currentColor"
							      stroke-linecap="round"
							      stroke-linejoin="round"
							      stroke-width="2"
							      d="M1 5h12m0 0L9 1m4 4L9 9"></path>
						</svg>
					</a>
				</div>
			</section>
		</div>

		<div class="bg-tertiary-700 overflow-y-auto">
			<!-- Sign In content -->
			<section class="pt-[128px] flex flex-col justify-center min-h-screen p-8">
				<img src="{% static 'static/images/login.jpg' %}"
				     alt="Sign Up"
				     class="bg-white rounded-lg mb-4 w-64 h-64 object-contain">

				<h1 class="text-transparent bg-clip-text bg-gradient-to-r to-secondary-200 from-sky-100 mb-4 text-5xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
					Sign In
				</h1>
				<p class="mt-8 mb-8 text-lg font-normal text-gray-200 lg:text-xl dark:text-gray-400">
					Welcome back to DELIVEET! <br>Sign in to access your account and:
				</p>
				<ul class="max-w-md space-y-1 text-gray-100 list-disc list-inside">
					<li class="flex items-center">
						<svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
						     aria-hidden="true"
						     xmlns="http://www.w3.org/2000/svg"
						     fill="currentColor"
						     viewBox="0 0 20 20">
							<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"></path>
						</svg>
						Book a new delivery
					</li>
					<li class="flex items-center">
						<svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
						     aria-hidden="true"
						     xmlns="http://www.w3.org/2000/svg"
						     fill="currentColor"
						     viewBox="0 0 20 20">
							<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"></path>
						</svg>
						Track your packages in real-time
					</li>
					<li class="flex items-center">
						<svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
						     aria-hidden="true"
						     xmlns="http://www.w3.org/2000/svg"
						     fill="currentColor"
						     viewBox="0 0 20 20">
							<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"></path>
						</svg>
						Review your delivery history
					</li>
					<li class="flex items-center">
						<svg class="w-3.5 h-3.5 me-2 text-green-500 dark:text-green-400 flex-shrink-0"
						     aria-hidden="true"
						     xmlns="http://www.w3.org/2000/svg"
						     fill="currentColor"
						     viewBox="0 0 20 20">
							<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"></path>
						</svg>
						Manage your preferences
					</li>
				</ul>

				<p class="mt-4 mb-8 text-lg font-normal text-gray-200 lg:text-xl dark:text-gray-400">Your efficient,
				                                                                                     cost-effective
				                                                                                     deliveries are
				                                                                                     just a click
				                                                                                     away.
				                                                                                     Sign in
				                                                                                     now to get
				                                                                                     started!

				<div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0">
					<a href="{% url 'accounts:signin' %}"
					   class="inline-flex justify-center items-center py-5 px-5 text-base font-medium text-center
					   text-white rounded-lg bg-primary-700 focus:ring-4 focus:ring-tertiary-300">
						Sign in
						<svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180"
						     aria-hidden="true"
						     xmlns="http://www.w3.org/2000/svg"
						     fill="none"
						     viewBox="0 0 14 10">
							<path stroke="currentColor"
							      stroke-linecap="round"
							      stroke-linejoin="round"
							      stroke-width="2"
							      d="M1 5h12m0 0L9 1m4 4L9 9"></path>
						</svg>
					</a>
				</div>
			</section>
		</div>
	</div>
{% endblock content %}