{% extends 'bases/base.html' %}
{% load static %}
{% block title %}Landing Page{% endblock title %}

{% block content %}
	<!-- Hero Section -->

	<section id="intro" class="bg-tertiary-400 from-secondary-500 bg-gradient-to-br bg-tertiary-700  pt-[128px] ">
		<div class="py-16 px-4 mx-auto max-w-screen-xl lg:py-16 grid lg:grid-cols-2 gap-8 lg:gap-16">
			<div class="flex flex-col justify-center">
				<h1 class="text-transparent bg-clip-text bg-gradient-to-r to-secondary-200 from-sky-100 mb-4
				text-5xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-white">
					DELIVEET</h1>
				<p class="mb-8 text-lg font-normal text-gray-200 lg:text-xl dark:text-gray-400">
					An on-demand last-mile hailing delivery service leveraging a network of local and independent
					couriers to make last-mile deliveries efficient, cost-effective and flexible for individuals, and
					business owners

				</p>
				<div class="flex flex-col space-y-4 sm:flex-row sm:space-y-0">
					<a href="{% url 'pages:app_home' %}"
					   class="inline-flex justify-center items-center py-5 px-5 text-base font-medium text-center
					   text-white rounded-lg bg-secondary-500 hover:bg-tertiary-600 focus:ring-4 focus:ring-tertiary-300">
						Visit Deliveet
						<svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true"
						     xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
							<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
							      d="M1 5h12m0 0L9 1m4 4L9 9"></path>
						</svg>
					</a>
				</div>
			</div>
			<div>
				<img class="mx-auto w-full lg:max-w-xl h-64 rounded-lg sm:h-96 shadow-xl"
				     src="{% static 'static/images/hero.jpg' %}" alt="">
			</div>
		</div>
	</section>


	<!-- End Hero Section -->

	<!-- Benefit Section -->
	<section id="features"
	         class="container mx-auto rounded-xl py-[60px] px-4 bg-tertiary-700 md:px-16 md:max-w-[1356px] mt-[80px] md:mt-[128px]">
		<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
			<div class="mx-auto max-w-screen-sm text-center lg:mb-16 mb-8">
				<h1 class="mb-4 text-5xl tracking-tight font-extrabold leading-tight text-white dark:text-white">
					All the tools you need to get your items delivered at convenience</h1>
			</div>


			<div class="grid grid-cols gap-8 mb-24 md:grid-cols-2 md:mb-24">

				<div class="max-w-full bg-primary-200 border border-gray-200 rounded-2xl shadow dark:bg-gray-800 dark:border-gray-700">

					<img class="bg-[#F4F9FF] p-5 rounded-t-2xl"
					     src="{% static 'static/images/track.jpg' %}"
					     alt="save more">
					<div class="p-8">
						<a href="">
							<h1 class="mb-2 text-4xl font-extrabold tracking-tight text-tertiary-500 dark:text-white">
								Real Time Updates
							</h1>
						</a>
						<p class="mb-3 font-normal text-gray-600 dark:text-gray-400">
							Monitor your package's journey from the moment
							it's picked up to its final delivery. Get up-to-the-minute updates, giving
							you peace of mind and full transparency. Know exactly where your package is at all times and
							receive notifications for any important status changes.
						</p>
					</div>

				</div>


				<div class="max-w-full bg-primary-100 border border-gray-200 rounded-2xl shadow dark:bg-gray-800 dark:border-gray-700">

					<img class="bg-[#F4F9FF] p-5 rounded-t-2xl"
					     src="{% static 'static/images/pay.jpg' %}"
					     alt="save more">
					<div class="p-8">
						<a href="">
							<h1 class="mb-2 text-4xl font-extrabold tracking-tight text-tertiary-500 dark:text-white">
								Easy Payment Methods
							</h1>
						</a>
						<p class="mb-3 font-normal text-gray-600 dark:text-gray-400">
							Multiple payment options to make your experience seamless and convenient. Whether you prefer
							to pay with a wallet balance, cash, or card, our platform accommodates all preferences.
							Secure and straightforward payment processes ensure that transactions are smooth and
							hassle-free.
						</p>
					</div>
				</div>

				<div class="max-w-full bg-tertiary-400 border border-gray-200 rounded-2xl shadow dark:bg-gray-800 dark:border-gray-700">

					<img class="bg-[#F4F9FF] p-5 rounded-t-2xl"
					     src="{% static 'static/images/delivered.jpg' %}"
					     alt="save more">
					<div class="p-8">
						<a href="">
							<h1 class="mb-2 text-4xl font-extrabold tracking-tight text-white dark:text-white">
								Proof of Delivery
							</h1>
						</a>
						<p class="mb-3 font-normal text-gray-100 dark:text-gray-400">
							Ensure peace of mind with our proof of delivery feature. We provide a digital
							confirmation once your package reaches its destination. Recipients sign digitally upon
							delivery, and a photo can be taken as additional evidence. This secure proof guarantees that
							your package has been delivered to the right place and person.
						</p>
					</div>
				</div>

			</div>

		</div>
	</section>
	<!-- End Features section -->

	<!-- About Section -->
	<section
			class="container mx-auto rounded-xl py-[60px] px-4 md:px-16 md:max-w-[1024px] mt-[80px] md:mt-[128px]">
		<div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">

			<div class="grid grid-cols gap-5 mb-24 md:mb-24">

				<div class="rounded-2xl py-10 px-6 md:px-10 bg-primary-200 md:col-span-6">

					<svg class="w-[120px] h-[120px] text-gray-800 dark:text-white" aria-hidden="true"
					     xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
					     viewBox="0 0 24 24">
						<path fill-rule="evenodd"
						      d="M12 6a3.5 3.5 0 1 0 0 7 3.5 3.5 0 0 0 0-7Zm-1.5 8a4 4 0 0 0-4 4 2 2 0 0 0 2 2h7a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-3Zm6.82-3.096a5.51 5.51 0 0 0-2.797-6.293 3.5 3.5 0 1 1 2.796 6.292ZM19.5 18h.5a2 2 0 0 0 2-2 4 4 0 0 0-4-4h-1.1a5.503 5.503 0 0 1-.471.762A5.998 5.998 0 0 1 19.5 18ZM4 7.5a3.5 3.5 0 0 1 5.477-2.889 5.5 5.5 0 0 0-2.796 6.293A3.501 3.501 0 0 1 4 7.5ZM7.1 12H6a4 4 0 0 0-4 4 2 2 0 0 0 2 2h.5a5.998 5.998 0 0 1 3.071-5.238A5.505 5.505 0 0 1 7.1 12Z"
						      clip-rule="evenodd"></path>
					</svg>


					<a href="">
						<h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
							Group Formation
						</h2>
					</a>
					<p class="mb-3 font-normal text-gray-500 dark:text-gray-400">
						DELIVEET was born from a desire to streamline last-mile delivery operations by making them more
						efficient and less expensive.
					</p>
					<p class="mb-3 font-normal text-gray-500 dark:text-gray-400">
						After having first-hand experience of the nightmares that come from lost packages and delayed
						arrival of important parcels, the need to do something about this constant problem became a
						vision.
					</p>
					<p class="mb-3 font-normal text-gray-500 dark:text-gray-400">
						From high cost of deliveries, to missing packages and sometimes delays in scheduled delivery,
						last-mile delivery which is the last stage in the supply chain process of e-commerce for
						individuals and businesses happens to be the most frustrating of all.
						Consumer buying behaviors have changed, especially when it comes to online shopping.
						Today’s consumers expect cheap—or, better yet, free—and fast delivery.
						So, in order to stay competitive, companies need to find a way to improve efficiency and cut
						costs in order to fund their logistics.
					</p>
					<p class="mb-3 font-normal text-gray-500 dark:text-gray-400">
						A big part of this boils down to a company’s last mile delivery process. That means, for a
						company to survive in this market, they need to find ways to improve efficiency in this area.
						The concept of DELIVEET is to utilize a network of local couriers and delivery personels, who
						are familiar with their areas and can provide on-demand fast and cost-effective last-mile
						deliveries to individuals and businesses who need them.
					</p>

					<p class="mb-3 font-normal text-gray-500 dark:text-gray-400">
						DELIVEET was created as a portfolio project to showcase my skills and passion for solving
						problems with technology and to reflect my learning journey in the ALX(Holberton) Software
						Engineering’s Cohort 1 Blended program.
						The development process spanned three weeks with positive brainstorming sessions, late-night
						code hacks and several interations in order to reach an MVP.
					</p>
					<p class="mb-3 font-normal text-gray-500 dark:text-gray-400">
						The vision of DELIVEET is to offer a new, more efficient, and better way for individuals and
						businesses to solve their last-mile delivery problems - delivering convenience one package at a
						time.
						DELIVEET aims to make life simpler for people who deserve a better way of getting their things
						delivered.
					</p>
				</div>

			</div>

		</div>
	</section>
	<!-- End About Section -->


	<section id="team" class="">
		<div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
			<div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
				<h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Our Team</h2>
				<p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">
					Meet the exceptional team working on DELIVEET
				</p>
			</div>
			<div class="grid gap-8 lg:gap-16">
				<div class="text-center text-gray-500 dark:text-gray-400">
					<img class="mx-auto mb-4 w-96 h-96 rounded-full"
					     src="{% static 'static/images/csn.jpg' %}"
					     alt="Chukwunonso Nwankpa">
					<h3 class="mb-1 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
						<a href="">Chukwunonso Nwankpa</a>
					</h3>
					<p>Software Engineer</p>
					<ul class="flex justify-center mt-4 space-x-4">
						<li>
							<a href="https://facebook.com/engineer.m.samuel"
							   class="text-[#39569c] hover:text-gray-900 dark:hover:text-white">
								<svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
									<path fill-rule="evenodd"
									      d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
									      clip-rule="evenodd"></path>
								</svg>
							</a>
						</li>
						<li>
							<a href="https://twitter.com/"
							   class="text-[#00acee] hover:text-gray-900 dark:hover:text-white">
								<svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
									<path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"></path>
								</svg>
							</a>
						</li>
						<li>
							<a href="https://github.com/theapostleoftech"
							   class="text-gray-900 hover:text-gray-900 dark:hover:text-white dark:text-gray-300">
								<svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
									<path fill-rule="evenodd"
									      d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
									      clip-rule="evenodd"></path>
								</svg>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>




	<section
			class="container mx-auto rounded-lg py-[60px] px-4 bg-tertiary-700 md:px-16 md:max-w-[1356px] mt-[80px] md:mt-[128px] mb-[128px]">
		<div class=" p-8 py-16 px-16 rounded-lg mx-auto max-w-screen-xl text-center lg:py-16">
			<h1 class="mb-8 text-4xl font-extrabold tracking-tight leading-none text-gray-100 md:text-5xl lg:text-6xl dark:text-white">
				Ready to Get Started?</h1>
			<div class="p-8 flex flex-col space-y-8 sm:flex-row sm:justify-center sm:space-y-0">
				<a href="https://github.com/theapostleoftech/deliveet"
				   class="inline-flex justify-center items-center py-5 px-5 text-base font-medium text-center text-white
				   rounded-lg bg-secondary-500 hover:bg-tertiary-500 focus:ring-4 focus:ring-tertiary-300">
					Link to GitHub Repo
					<svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
					     fill="none" viewBox="0 0 14 10">
						<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
						      d="M1 5h12m0 0L9 1m4 4L9 9"></path>
					</svg>
				</a>
			</div>
		</div>
	</section>


{% endblock content %}


{% block js %}
{% endblock js %}