{% extends 'bases/_base.html' %}
{% load static %}
{% block title %}Dashboard{% endblock title %}
{% block content %}

	<!-- Card -->
	<div class="grid grid-cols-3 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-8">

		<div class="flex flex-col bg-tertiary-600 border shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-800">
			<div class="p-4 md:p-5 flex justify-between gap-x-3">
				<div>
					<p class="text-xs uppercase tracking-wide text-gray-300 dark:text-neutral-500">
						In Progress
					</p>
					<div class="mt-1 flex items-center gap-x-2">
						<h3 class="text-xl sm:text-2xl font-medium text-gray-300 dark:text-neutral-200">
							{{ deliveries_in_progress }}
						</h3>
					</div>
				</div>
			</div>
		</div>

		<div class="flex flex-col bg-tertiary-600 border shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-800">
			<div class="p-4 md:p-5 flex justify-between gap-x-3">
				<div>
					<p class="text-xs uppercase tracking-wide text-gray-300 dark:text-neutral-500">
						Completed
					</p>
					<div class="mt-1 flex items-center gap-x-2">
						<h3 class="text-xl sm:text-2xl font-medium text-gray-300 dark:text-neutral-200">
							{{ deliveries_completed }}
						</h3>
					</div>
				</div>
			</div>
		</div>

		<div class="flex flex-col bg-tertiary-600 border shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-800">
			<div class="p-4 md:p-5 flex justify-between gap-x-3">
				<div>
					<p class="text-xs uppercase tracking-wide text-gray-300 dark:text-neutral-500">
						Canceled
					</p>
					<div class="mt-1 flex items-center gap-x-2">
						<h3 class="text-xl sm:text-2xl font-medium text-gray-300 dark:text-neutral-200">
							{{ deliveries_canceled }}
						</h3>
					</div>
				</div>
			</div>
		</div>
	</div>

	<hr class="border border-slate-300"/>
	<div class="w-full py-6 pb-8 lg:pb-0">
		<div class="py-4 flex flex-row justify-between items-center">
			<div class="w-full space-y-1"><p class="text-xl font-bold tracking-tight">Recent
			                                                                          Activity</p>
				<p class="text-sm text-slate-400 w-full max-w-lg leading-relaxed">An overview of the
				                                                                  current status of
				                                                                  your most recent
				                                                                  deliveries.</p>
			</div>
		</div>
		<div class="w-full border-t border-slate-100 flex justify-between items-center py-4">
			<div class="flex flex-1 flex-row justify-start items-center space-x-4">
				<div class="w-8 h-8 flex items-center justify-start text-slate-400">
					<svg xmlns="http://www.w3.org/2000/svg"
					     viewBox="0 0 24 24"
					     fill="currentColor"
					     aria-hidden="true"
					     data-slot="icon"
					     class="h-6 w-6"
					     stroke-width="2">
						<path fill-rule="evenodd"
						      d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25ZM12.75 6a.75.75 0 0 0-1.5 0v6c0 .414.336.75.75.75h4.5a.75.75 0 0 0 0-1.5h-3.75V6Z"
						      clip-rule="evenodd"></path>
					</svg>
				</div>
				{#				<div class="flex flex-col justify-start items-start"><p#}
				{#						class="text-base tracking-normal font-semibold">You have no pending#}
				{#				                                                        shipments</p>#}
				{#					<p class="text-sm font-medium text-slate-400">Book a delivery to get#}
				{#					                                              started.</p></div>#}
			</div>
		</div>
	</div>

{% endblock content %}