<header class="border-b border-slate-100 w-full xl:hidden sticky top-0 z-50">
	<div class="px-4 mx-auto">
		<div class="flex items-center justify-between h-16">
			<div class="w-full py-6 flex justify-start items-center"><img class="hidden xl:block w-28 lg:w-32"
			                                                              src=""
			                                                              alt=""/>
				<p class="block xl:hidden text-xl font-bold capitalize">{{ user.first_name }}</p></div>
			<div class="flex items-center -m-2 xl:hidden">
				<button type="button"
				        class="inline-flex items-center justify-center p-2 text-black bg-white
				        rounded-sm hover:text-primary transition-all focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
					     stroke="currentColor" aria-hidden="true" data-slot="icon" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round"
						      d="M3.75 6.75h16.5M3.75 12h16.5M12 17.25h8.25"></path>
					</svg>
				</button>
			</div>
		</div>
	</div>
</header>