{% extends 'bases/_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %} Create Delivery {% endblock %}
{% block content %}

	<div class="space-y-8 w-full">
		<div class="w-full">
			<form class="flex flex-col w-full">
				{% csrf_token %}
				<div class="col-span-full py-4 border-b border-gray-100">
					<p class="font-bold text-xl tracking-tight">
						Item Information
					</p>
				</div>
				<div class="w-full grid grid-cols-2 md:grid-cols-6 gap-4 gap-y-6 py-8">
					{% for hidden in item_form.hidden_fields %}
						{{ hidden }}
					{% endfor %}
					{% for field in item_form.visible_fields %}
						<div class="col-span-full">
							<fieldset class="relative">
								<div class="relative">
									<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
									       for="{{ field.id_for_label }}">{{ field.label }}</label>
									{{ field|add_class:'bg-[#F4F9FF] border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' }}
									{% for error in field.errors %}
										<span class="bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500">{{ error|add_error_class:'mt-2 text-sm text-red-600 dark:text-red-500' }}</span>
									{% endfor %}
								</div>
							</fieldset>
						</div>
					{% endfor %}
					<div class="col-span-full">
						<div class="md:w-1/3">
							<input type="hidden" name="action" value="update_user_details">
							<button type="submit" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4
						focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center
						dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
								SAVE
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>

		<div class="w-full">
			<form method="post" class="flex flex-col w-full">
				{% csrf_token %}
				<div class="col-span-full py-4 border-b border-gray-100"><p class="font-bold text-xl tracking-tight">
					Change your password</p></div>

				<div class="w-full grid grid-cols-2 md:grid-cols-6 gap-4 gap-y-6 py-8">
					{% for hidden in password_form.hidden_fields %}
						{{ hidden }}
					{% endfor %}
					{% for field in password_form.visible_fields %}
						<div class="col-span-full">
							<fieldset class="relative">
								<div class="relative">
									<label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
									       for="{{ field.id_for_label }}">{{ field.label }}</label>
									{{ field|add_class:'bg-[#F4F9FF] border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500' }}
									{% for error in field.errors %}
										<span class="bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500">{{ error|add_error_class:'mt-2 text-sm text-red-600 dark:text-red-500' }}</span>
									{% endfor %}
								</div>
							</fieldset>
						</div>
					{% endfor %}
					<div class="col-span-full">
						<div class="md:w-1/3">
							<input type="hidden" name="action" value="update_user_password">
							<button type="submit" class="text-white bg-primary-700 hover:bg-primary-800 focus:ring-4
						focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center
						dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
								SAVE
							</button>
						</div>
					</div>
				</div>

			</form>
		</div>

		<div class="w-full">
			<form method="post" class="flex flex-col w-full">
				{% csrf_token %}
				<div class="w-full py-6 border-b border-gray-100"><p class="font-bold text-xl tracking-tight">Delete
				                                                                                              Account</p>
				</div>
				<div class="col-span-full py-6 text-base font-medium flex flex-col justify-between items-start space-y-6">
					<p class="">Would you like to delete your account? Please note that this action will delete all your
					            data and it <span class="font-bold text-primary">cannot be reversed.</span></p>
					<div><span
							class="bg-primary text-white border-primary rounded ring-transparent focus:outline-none hover:ring-2 hover:ring-offset-1 hover:ring-primary hover:border-primary hover:text-white whitespace-nowrap border cursor-pointer inline-flex items-center justify-center w-full px-3.5 py-3 uppercase text-xs tracking-wide font-bold transition-all duration-200">Delete my account</span>
					</div>
				</div>
			</form>
		</div>
	</div>


{% endblock content %}