<!-- templates/_base.html -->
{% load static tailwind_tags remove_dark_mode_tag %}
<!DOCTYPE html>
<html class="scroll-smooth" lang="en">
<head>
	<title>{% block title %}{% endblock title %} | DELIVEET - Delivering convenience one package at a time</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:title" content="DELIVEET - Delivering convenience one package at a time"/>
	<meta property="og:description" content="Purchase food items in bulk with other individuals at wholesale prices, enjoy lower
	costs, and increased food availability."/>
	<link rel="apple-touch-icon" sizes="180x180" href="{% static 'static/images/favicon/apple-touch-icon.png' %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static 'static/images/favicon/favicon-32x32.png' %}">
	<link rel="icon" type="image/png" sizes="16x16"
	      href="{% static 'static/images/favicon/favicon-16x16.png' %}">
	<link rel="manifest" href="{% static 'static/images/favicon/manifest.json' %}">
	<link rel="mask-icon" href="{% static 'static/images/favicon/safari-pinned-tab.svg' %}" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#f4f9ff">

	{% tailwind_preload_css %}
	{% tailwind_css %}
	{% include 'snippets/firebase_records.html' %}
	{% block head_js %}
	{% endblock head_js %}
</head>

<body class="bg-[#F4F9FF]">
{% process_all_classes %}
	<div class="antialiased top-0 ">
		{% include 'snippets/aside.html' %}
		<div class="xl:m-auto flex-1 overflow-x-hidden lg:pb-0">
			<main class="overflow-y-auto m-auto p-4 md:ml-64 pt-20">
				<div class="">
					<div class="flex flex-col px-4 md:px-8 pb-4">
						<div class="relative grid grid-cols-1 lg:grid-cols-7 gap-4 lg:overflow-y-hidden">
							<div class="col-span-1 lg:col-span-7  lg:overflow-y-auto py-4 lg:py-8">
								<div class="w-full max-w-3xl m-auto">
									<div class="space-x-1 flex items-start pb-4">
										<div class="w-full lg:flex pb-6 items-center justify-between">
											<div class="flex">
												<div class="">
													<div class="">

													</div>
												</div>
												<div class="flex flex-col justify-start items-start">
													<h1 class="text-3xl font-extrabold tracking-tight text-black capitalize">
														{% include 'snippets/greeting.html' %}
													</h1>
													<p class="text-slate-400 font-normal tracking-tight">
														We're here to assist you with your deliveries.
													</p>
												</div>
											</div>
										</div>
									</div>
									{% include 'snippets/messages.html' %}
									{% block content %}

									{% endblock content %}
								</div>
							</div>
						</div>
					</div>
				</div>

			</main>
		</div>
	</div>
{% endprocess_all_classes %}
{% block js %}
{% endblock js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</body>
</html>

