{% extends 'bases/_base.html' %}
{% load static %}
{% block title %}My Account{% endblock title %}
{% block head_js %}
{% endblock head_js %}

{% block content %}

	<div class="pb-4 ">
		<div class="bg-tertiary-700 flex flex-col justify-between items-start space-y-12 p-6
				border border-gray-200 rounded-lg shadow">
			<div class="w-full space-y-2">
				<p class="mt-0 max-w-2xl text-sm leading-6 text-gray-300">EARNINGS</p>
				<p class="text-5xl lg:text-6xl md:text-5xl sm:text-3xl text-white
				 font-extrabold tracking-tight mb-4">
					{{ total_earnings }} <span
						class="text-sm tracking-wide font-medium text-gray-400 uppercase">NGN</span>
				</p>
			</div>
			<div class="flex flex-row justify-start items-start space-x-2">
				<a href="{% url 'finance:initiate_transaction' %}">
						<span class=" text-white border-primary rounded
							ring-transparent focus:outline-none hover:ring-2 hover:ring-offset-1 hover:ring-primary
							hover:border-primary hover:text-white whitespace-nowrap border cursor-pointer inline-flex
							items-center justify-center w-full px-3.5 py-3
							uppercase text-xs tracking-wide font-bold
							transition-all duration-200 !bg-white !border-opacity-10 !bg-opacity-20">Add Money
						</span>
				</a>
				<div class="flex flex-row justify-start items-start space-x-2">
					<a href="{% url 'finance:initiate_transaction' %}">
						<span class="bg-primary-700 text-white border-primary rounded
							ring-transparent focus:outline-none hover:ring-2 hover:ring-offset-1 hover:ring-primary
							hover:border-primary hover:text-white whitespace-nowrap border cursor-pointer inline-flex
							items-center justify-center w-full px-3.5 py-3 uppercase text-xs tracking-wide font-bold
							transition-all duration-200 !border-opacity-10 !hover:bg-black
							!hover:text-white">Withdraw
						</span>
					</a>
				</div>
			</div>
		</div>
	</div>


	<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4 mb-4">


		<div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-800">

			<div class="p-4 md:p-5 flex justify-between gap-x-3">

				<div>
					<p class="text-xs uppercase tracking-wide text-gray-500 dark:text-neutral-500">
						Total Completed
					</p>
					<div class="mt-1 flex items-center gap-x-2">
						<h3 class="text-xl sm:text-2xl font-medium text-gray-800 dark:text-neutral-200">
							{{ total_delivery_tasks }}
						</h3>
					</div>
				</div>

			</div>

			<a class="py-3 px-4 md:px-5 inline-flex justify-between items-center text-sm text-gray-600 border-t border-gray-200 hover:bg-gray-50 rounded-b-xl dark:border-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800"
			   href="">
				View Details
				<svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
				     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
				     stroke-linejoin="round">
					<path d="m9 18 6-6-6-6"></path>
				</svg>
			</a>
		</div>

		<div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-800">
			<div class="p-4 md:p-5 flex justify-between gap-x-3">
				<div>
					<p class="text-xs uppercase tracking-wide text-gray-500 dark:text-neutral-500">
						In Progress
					</p>
					<div class="mt-1 flex items-center gap-x-2">
						<h3 class="text-xl sm:text-2xl font-medium text-gray-800 dark:text-neutral-200">
							{{ delivery_in_progress }}
						</h3>
					</div>
				</div>
			</div>
			<a class="py-3 px-4 md:px-5 inline-flex justify-between items-center text-sm text-gray-600 border-t border-gray-200 hover:bg-gray-50 rounded-b-xl dark:border-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800"
			   href="">
				View Details
				<svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
				     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
				     stroke-linejoin="round">
					<path d="m9 18 6-6-6-6"></path>
				</svg>
			</a>
		</div>

		<div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-800">
			<div class="p-4 md:p-5 flex justify-between gap-x-3">
				<div>
					<p class="text-xs uppercase tracking-wide text-gray-500 dark:text-neutral-500">
						Distance Completed
					</p>
					<div class="mt-1 flex items-center gap-x-2">
						<h3 class="text-xl sm:text-2xl font-medium text-gray-800 dark:text-neutral-200">
							{{ total_km }}Km
						</h3>
					</div>
				</div>
			</div>

			<a class="py-3 px-4 md:px-5 inline-flex justify-between items-center text-sm text-gray-600 border-t border-gray-200 hover:bg-gray-50 rounded-b-xl dark:border-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800"
			   href="">
				View Details
				<svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
				     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
				     stroke-linejoin="round">
					<path d="m9 18 6-6-6-6"></path>
				</svg>
			</a>
		</div>

		<div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-neutral-900 dark:border-neutral-800">
			<div class="p-4 md:p-5 flex justify-between gap-x-3">
				<div>
					<p class="text-xs uppercase tracking-wide text-gray-500 dark:text-neutral-500">
						Total Earnings
					</p>
					<div class="mt-1 flex items-center gap-x-2">
						<h3 class="text-xl sm:text-2xl font-medium text-gray-800 dark:text-neutral-200">
							₦{{ total_earnings }}
						</h3>
					</div>
				</div>
			</div>

			<a class="py-3 px-4 md:px-5 inline-flex justify-between items-center text-sm text-gray-600 border-t border-gray-200 hover:bg-gray-50 rounded-b-xl dark:border-neutral-800 dark:text-neutral-400 dark:hover:bg-neutral-800"
			   href="">
				View Details
				<svg class="flex-shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
				     viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
				     stroke-linejoin="round">
					<path d="m9 18 6-6-6-6"></path>
				</svg>
			</a>
		</div>
	</div>

	<div class="border-2 border-dashed rounded-lg border-gray-300 dark:border-gray-600 h-96 mb-4">

	</div>
{% endblock content %}